body {
    background-color: #3E4D3A;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

#kombu-image {
    width: 100px; 
    height: auto;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
}

#subtle-text {
    position: fixed;
    bottom: 10px;
    width: 100%;
    font-size: 0.8em; 
    color: #878787;
    text-align: center;
}

#kombu-logo {
    position: absolute;
    left: 30px; 
    top: 30px;
    width: 80px;
    height: auto;
}

#flavors {
    width: 80%;
    height: 100px; 
    margin-top: 30px;
    margin-bottom: 30px;
}

#email-capture {
    margin-top: 50px;
    color: #878787;
}
