<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Dashi</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <img id="kombu-image" src="../static/kombu.png" alt="Kombu">
    <h1>welcome to dashi, Alexa</h1>
    <p>simmering startups, straight to your inbox.</p>
    <a href="dashi-app"><button>start your stock</button></a>
    <div id="subtle-text">how do investors find the earliest deals? how do founders get connected to funding? dashi was made to change how we raise, all while removing the bias that comes with leaning on traditional fundraising routes. <br>dashi curates the week's hottest startups and sends related companies to your email.</div>
</body>
</html>